@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #3CC0CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    z-index: 1;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    position: sticky;
    z-index: 1;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    z-index: 1;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 100%;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 100;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        z-index: 1;
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
        z-index: 1;
    }

   
}

button {
    padding: 9px 25px;
    background-color: #fd8701c3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #FD8901;
}

/* Hero Section */
body {
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    width: 100%;
}


.hero-image {
    height: 600px;
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),/* the gradient on top, adjust color and opacity to your taste */
     url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 0px;
    z-index: -1;
    backdrop-filter: brightness(10%);
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }



.container-paket {
    padding: 5rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.paket {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
    margin-top: auto;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: #3CC0CC;

    border: 3px solid #3CC0CC;
    border-radius: 999px;
    background: transparent;
    cursor: pointer;
    transition: all .15s ease-in;
}

.card button:hover {
    border: 3px solid transparent;
    color: white;
    background-color: #3CC0CC;
}

.img-paket {
    border-radius: 5px 5px 0 0;
}

.container-text-paket {
    padding: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.container-text-paket ul {
    list-style-type: none;
}

.container-text-paket ul li {
    color: black;
}

.container-kontak {
    padding: 5em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.container-kontak h4 {
    margin-top: 0.5rem;
}

.container-kontak li {
    display: inline-block;
    justify-content: center;
    margin: 0.7em;
}

.container-form {
    padding: 5rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

/* container form */
.container-form {
    width: 100%;
    margin: 0 auto;
    position: relative;
}




#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="text"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #FD8901;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #d57201;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    width: 66px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.profile {
    margin-top: px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 5rem;
}

.card-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
}

.card-profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer{
    background-color:#3CC0CC;
    color:#fff;
    font-weight:700;
    padding:20px;
    text-align:center;
    font-family: 'Nunito', sans-serif;
}
@media (max-width: 768px) {
    .paket {
     grid-template-columns: repeat(1, 1fr) !important;
    }
    .card-profile {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     transition: 0.3s;
     width: 50%;
     border-radius: 5px;
 }
 }